/* General Layout*/
h3 { color: #BEC0BF;}
p { color: #BEC0BF; font-size: 14px; }
p a { color: #2E87A8; }
body { background-color: #4A4A4A; font-family: verdana,arial,helvetica,sans-serif }
#container {
  width: 700px;
  margin: 30px auto;
  padding: 20px 40px 10px 40px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
span.monospace { font-family: Monaco, 'Courier New', monospace; color: #999999; }
.clear { clear:both; }
/* Navigation Menu */
#nav { float: right; }
#nav a, #nav a:visited { font-size: 14px; text-decoration: none; font-weight: bold; color: #BEC0BF; padding-left: 10px;}
#nav a:hover { text-decoration: underline; }

/* Header title */
h1 a, h1 a:visited, h1 a:hover {
  font-family: georgia;
  font-size: 55px;
  color: #24abe3;
  text-decoration: none;
}

/* General content title */
h2 { color: #3AAAD3; font-weight: bold; font-size: 18px; border-bottom: 1px solid #CCCCCC;}
h2 a, h2 a:visited { color: #4C4C4C; text-decoration: none;}
h2 a:hover { color: #4C4C4C; text-decoration: underline; }

/* Post */
.post { margin-bottom: 25px; font-size: 13px; }
.post ul.meta { list-style-type: none; margin: 0; color: #AAA; }
.post ul.meta li { display: inline; padding: 0px 22px; font-style: normal; }
.post ul.meta li span { border-bottom: 1px dotted #BBBBBB; margin-left: 4px;}
.post ul.meta li.date { background: transparent url('/images/calendar.gif') no-repeat; }
.post ul.meta li.tags { background: transparent url('/images/tags.png') no-repeat; }
.post ul.meta li.comments { background: transparent url('/images/comments.png') no-repeat; }

/* Related posts */
h2.related { font-weight: normal; }

/* Quote */
.post .quote { margin-top: 35px; margin-left: 40px; margin-bottom: 15px; }
.post .quote .content { font-size: 20px; color: #BEC0BF; }
.post .quote_mark { font-size: 80px; float: left; line-height: 60px; color: #3AAAD3; font-family: Helvetica, Arial, sans-serif; }
.post .author { color: #999; font-size: 14px; margin-top: 10px; }

/* Post list */
ul.post_list { list-style-type: none; margin-bottom: 30px; }
ul.post_list li { line-height: 24px; }
ul.post_list li a { color: #3AAAD3; font-size: 14px; }
ul.post_list li a:visited { color: #2E87A8; }

/* Projects */
#projects { float: left; }
ul.projects { list-style-type: none; }
ul.projects li { font-size: 14px; margin-bottom: 8px; line-height: 14px; color: #3AAAD3; }
ul.projects li a, ul.projects li a:visited, ul.projects li a:hover { font-size: 11px; color: #2E87A8;}
ul.projects span { font-size: 11px; color: #888; }

/* Contact */
#contact { float: right; width: 300px;}
ul.contacts { list-style-type: none; }
ul.contacts li a, ul.contacts li a:visited, ul.contacts li a:hover { font-size: 12px; color: #2E87A8;}

/* footer */
#footer { border-top: 1px dotted #BBBBBB; padding-top: 5px; margin-top: 40px; text-align: center; color: #777; font-size: 8pt;}
#footer a { color: #777; }

/* Disqus */
#disqus_thread { margin-top: 25px; margin-bottom: 25px; }