/* General Layout*/
body { background: #4A4A4A url(../images/bg.png) repeat-x scroll 0 0; font-family: verdana,arial,helvetica,sans-serif }
#container {
  width: 700px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px 40px 10px 40px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-top: 30px;
  box-shadow: 3px 3px 2px #555;
  -moz-box-shadow: 3px 3px 2px #555;
  -webkit-box-shadow: 3px 3px 2px #555;
}
span.monospace { font-family: Monaco, 'Courier New', monospace; color: #999999; }
.clear { clear:both; }
/* Navigation Menu */
#nav { float: right; }
#nav a, #nav a:visited { font-size: 14px; color: #4C4C4C; text-decoration: none; font-weight: bold; color: #666666; padding-left: 10px;}
#nav a:hover { text-decoration: underline; }

/* Header title */
h1 a, h1 a:visited, h1 a:hover {
  font-family: georgia;
  font-size: 40px;
  color: #990000;
  text-decoration: none;
  text-shadow: 2px 2px 2px #888;
}

/* General content title */
h2 { color: #4C4C4C; font-weight: bold; font-size: 18px; border-bottom: 1px solid #CCCCCC;}
h2 a, h2 a:visited { color: #4C4C4C; text-decoration: none;}
h2 a:hover { color: #4C4C4C; text-decoration: underline; }


/* Post */
.post { margin-bottom: 25px; font-size: 13px;}
.post ul.meta { list-style-type: none; margin: 0; color: #AAA; }
.post ul.meta li { display: inline; padding: 0px 22px; font-style: normal; }
.post ul.meta li span { border-bottom: 1px dotted #BBBBBB; margin-left: 4px;}
.post ul.meta li.date { background: transparent url('/images/calendar.gif') no-repeat; }
.post ul.meta li.tags { background: transparent url('/images/tags.png') no-repeat; }
.post ul.meta li.comments { background: transparent url('/images/comments.png') no-repeat; }

/* Pist list */
ul.post_list { list-style-type: none; margin-bottom: 30px;}
ul.post_list li { line-height: 24px;}
ul.post_list li a { color: #000000; font-size: 14px;}
ul.post_list li a:visited { color: #777;}

/* Projects */
#projects { float: left; }
ul.projects { list-style-type: none; }
ul.projects li { font-size: 14px; margin-bottom: 8px; line-height: 14px;}
ul.projects li a, ul.projects li a:visited, ul.projects li a:hover { font-size: 11px; color: #888;}
ul.projects span { font-size: 11px; color: #888; }

/* Contact */
#contact { float: right; width: 300px;}
ul.contacts { list-style-type: none; }
ul.contacts li a, ul.contacts li a:visited, ul.contacts li a:hover { font-size: 12px; color: #444;}

/* footer */
#footer { border-top: 1px dotted #BBBBBB; padding-top: 5px; margin-top: 40px; text-align: center; color: #777; font-size: 8pt;}
#footer a { color: #777; }

/* Disqus */
#disqus_thread { margin-top: 25px; margin-bottom: 25px; }