---
layout: default
title: MHFS - Marcelo Silveira
---

<div class="intro span-24 last">
  <img class="pic" src="/images/mhfs.jpg" />
  <p class="span-16">
  I'm <b>Marcelo Silveira</b>, a freelancer web developer and entrepreneur living in Campinas, Brazil. I currently work at <b><a href="http://zinfinit.com/">Zinfinit</a></b>
  coding <b><a href="http://rubyonrails.com">Ruby on Rails</a></b> apps.
  <br />
  I love <b>open source</b> and try to <b>contribute</b> every once in a while. You can check some of my <b>code</b> and activity on <b><a href="https://github.com/mhfs/">github</a></b>.
  <br />
  Feel free to <b>contact</b> me via <b><a href="mailto:mhfsilveira@gmail.com">email</a></b> or follow me on <b><a href="http://twitter.com/mhfsilveira">twitter</a></b>.
  </p>
</div>

<div id="homelinks">
  <div class="span-12 code">
    <a href="http://github.com/mhfs/"><b>Code</b> → github.com/mhfs</a>
  </div>
  <div class="span-12 last blog">
    <a href="http://mhfs.com.br/blog.html">mhfs.com.br/blog.html ← <b>Blog</b></a>
  </div>
  <div class="span-12 email">
    <a href="mailto:mhfsilveira@gmail.com"><b>Email</b> → mhfsilveira@gmail.com</a>
  </div>
  <div class="span-12 last twitter">
    <a href="http://twitter.com/mhfsilveira">@mhfsilveira ← <b>Twitter</b></a>
  </div>
</div>

<hr />

<h3>Recent Blog Entries</h3>

<ul class="post_list">
  {% for post in site.posts limit:10 %}
    {% include post_item.html %}
  {% endfor %}
  <li><a class="archive" href="/archive.html">Full Archive →</a></li>
</ul>

<div class="clear"></div>

